<div class="testbox">
  <h1>Registration</h1>

  <form action="/" (ngSubmit)="signup()">
      <hr>
      <div class="form-group">
        <label id="icon" for="email"><i class="icon-envelope "></i></label>
        <input type="text"  id="email" [(ngModel)]="email" name="email" placeholder="Email" required/>
      </div>
      <label id="icon" for="name"><i class="icon-user"></i></label>
      <input type="text" name="name" id="name" placeholder="Name"/>

    <div class="form-group">
      <label id="icon" for="password"><i class="icon-shield"></i></label>
      <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Password" required/>
    </div>
   <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
   <a type="button" class="button" (click)="signup()">Register</a>
  </form>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <p>Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a></p>
</div>
