*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto, 1fr, auto);
  grid-gap: 15px;
}

.main{
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(https://img.freepik.com/photos-gratuite/fond-gris-peint_53876-94041.jpg?t=st=1728629242~exp=1728632842~hmac=6d936aa6a82ea2a1d37c929d02f87aa6d3933eddb0da39716e0da0bf00335fcf&w=1380);
  background-position: center;
  background-size: cover;
  height: 100vh;
}


.icon{
  width: 200px;
  float: left;
  height: 70px;
}

.logo{
  color: #8ea6bd;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px
}
.btn{
  width: 100px;
  height: 40px;
  background: #ff7200;
  border: 2px solid #ff7200;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}
.btn:hover{
  color: #000;
}

.btn:focus{
  outline: none;
}


.content{
  width: 2000px;
  left: 50px;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
}

.content .par{
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1{
  font-family: 'Times New Roman';
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .cn{
  width: 160px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: .4s ease;

}

.content .cn a{
  text-decoration: none;
  color: #000;
  transition: .3s ease;
}

.cn:hover{
  background-color: #fff;
}

.content span{
  color: #ff7200;
  font-size: 65px
}

.form{
  width: 300px;
  height: 450px;
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  position: absolute;
  top: -20px;
  left: 1300px;
  transform: translate(0%,-5%);
  border-radius: 10px;
  padding: 25px;
}

.form h2{
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #ff7200;
  font-size: 22px;
  background-color: #fff;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input{
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff7200;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus{
  outline: none;
}

::placeholder{
  color: #fff;
  font-family: Arial;
}

.btnn{
  width: 240px;
  height: 40px;
  background: #ff7200;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
}
.btnn:hover{
  background: #fff;
  color: #ff7200;
}
.btnn a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.form .link{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}
.form .link a{
  text-decoration: none;
  color: #ff7200;
}
.liw{
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}
.icons a{
  text-decoration: none;
  color: #fff;
}
.icons i{
  color: #fff;
  font-size: 30px;
  padding-left: 27px;
  padding-top: 5px;
  transition: 0.3s ease;
}
.icons i:hover{
  color: #ff7200;
}


@media all and (max-width: 1366px)
{
  .container {
    display: grid;
    grid-template-columns: repeat(1fr, auto);
    grid-gap: 15px;
  }

  .content{
    width: 1006px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
  }

  .form{
    width: 300px;
    height: 450px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 500px;
    left: 400px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
  }

  .form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
  }

  .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
  }

  .form input:focus{
    outline: none;
  }

  ::placeholder{
    color: #fff;
    font-family: Arial;
  }

  .btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
  }
  .btnn:hover{
    background: #fff;
    color: #ff7200;
  }
  .btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  .form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
  }
  .form .link a{
    text-decoration: none;
    color: #ff7200;
  }
  .liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
  }
  .icons a{
    text-decoration: none;
    color: #fff;
  }
  .icons i{
    color: #fff;
    font-size: 30px;
    padding-left: 27px;
    padding-top: 5px;
    transition: 0.3s ease;
  }
  .icons i:hover{
    color: #ff7200;
  }

  }


@media all and (max-width: 1368px) {

  .container {
    display: grid;
    grid-template-columns: repeat(1fr, auto);
    grid-gap: 15px;
  }

  .content{
    width: 915px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
  }

  .form{
    width: 300px;
    height: 450px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 500px;
    left: 400px;
    transform: translate(0%,-5%);
    border-radius: 10px;
    padding: 25px;
  }

  .form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
  }

  .form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
  }

  .form input:focus{
    outline: none;
  }

  ::placeholder{
    color: #fff;
    font-family: Arial;
  }

  .btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
  }
  .btnn:hover{
    background: #fff;
    color: #ff7200;
  }
  .btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
  }
  .form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
  }
  .form .link a{
    text-decoration: none;
    color: #ff7200;
  }
  .liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
  }
  .icons a{
    text-decoration: none;
    color: #fff;
  }
  .icons i{
    color: #fff;
    font-size: 30px;
    padding-left: 27px;
    padding-top: 5px;
    transition: 0.3s ease;
  }
  .icons i:hover{
    color: #ff7200;
  }

  }

  @media all and (max-width: 1024px) {
    .container {
      display: grid;
      grid-template-columns: repeat(1fr, auto);
      grid-gap: 15px;
    }

    .content{
      width: 915px;
      height: auto;
      margin: auto;
      color: #fff;
      position: relative;
    }

    .form{
      width: 300px;
      height: 450px;
      background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
      position: absolute;
      top: 500px;
      left: 400px;
      transform: translate(0%,-5%);
      border-radius: 10px;
      padding: 25px;
    }

    .form h2{
      width: 220px;
      font-family: sans-serif;
      text-align: center;
      color: #ff7200;
      font-size: 22px;
      background-color: #fff;
      border-radius: 10px;
      margin: 2px;
      padding: 8px;
    }

    .form input{
      width: 240px;
      height: 35px;
      background: transparent;
      border-bottom: 1px solid #ff7200;
      border-top: none;
      border-right: none;
      border-left: none;
      color: #fff;
      font-size: 15px;
      letter-spacing: 1px;
      margin-top: 30px;
      font-family: sans-serif;
    }

    .form input:focus{
      outline: none;
    }

    ::placeholder{
      color: #fff;
      font-family: Arial;
    }

    .btnn{
      width: 240px;
      height: 40px;
      background: #ff7200;
      border: none;
      margin-top: 30px;
      font-size: 18px;
      border-radius: 10px;
      cursor: pointer;
      color: #fff;
      transition: 0.4s ease;
    }
    .btnn:hover{
      background: #fff;
      color: #ff7200;
    }
    .btnn a{
      text-decoration: none;
      color: #000;
      font-weight: bold;
    }
    .form .link{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      padding-top: 20px;
      text-align: center;
    }
    .form .link a{
      text-decoration: none;
      color: #ff7200;
    }
    .liw{
      padding-top: 15px;
      padding-bottom: 10px;
      text-align: center;
    }
    .icons a{
      text-decoration: none;
      color: #fff;
    }
    .icons i{
      color: #fff;
      font-size: 30px;
      padding-left: 27px;
      padding-top: 5px;
      transition: 0.3s ease;
    }
    .icons i:hover{
      color: #ff7200;
    }

  @media all and (max-width: 720px){
    .container {
      display: grid;
      grid-template-columns: repeat(auto,1fr, auto);
      grid-gap: 15px;
    }

    .content{
      width: 915px;
      height: 1600px;
      margin: auto;
      color: #fff;
      position: relative;
    }

    .form{
      width: 300px;
      height: 450px;
      background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
      position: absolute;
      top: 600px;
      left: 400px;
      transform: translate(0%,-5%);
      border-radius: 10px;
      padding: 25px;
    }

    .form h2{
      width: 220px;
      font-family: sans-serif;
      text-align: center;
      color: #ff7200;
      font-size: 22px;
      background-color: #fff;
      border-radius: 10px;
      margin: 2px;
      padding: 8px;
    }

    .form input{
      width: 240px;
      height: 35px;
      background: transparent;
      border-bottom: 1px solid #ff7200;
      border-top: none;
      border-right: none;
      border-left: none;
      color: #fff;
      font-size: 15px;
      letter-spacing: 1px;
      margin-top: 30px;
      font-family: sans-serif;
    }

    .form input:focus{
      outline: none;
    }

    ::placeholder{
      color: #fff;
      font-family: Arial;
    }

    .btnn{
      width: 240px;
      height: 40px;
      background: #ff7200;
      border: none;
      margin-top: 30px;
      font-size: 18px;
      border-radius: 10px;
      cursor: pointer;
      color: #fff;
      transition: 0.4s ease;
    }
    .btnn:hover{
      background: #fff;
      color: #ff7200;
    }
    .btnn a{
      text-decoration: none;
      color: #000;
      font-weight: bold;
    }
    .form .link{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      padding-top: 20px;
      text-align: center;
    }
    .form .link a{
      text-decoration: none;
      color: #ff7200;
    }
    .liw{
      padding-top: 15px;
      padding-bottom: 10px;
      text-align: center;
    }
    .icons a{
      text-decoration: none;
      color: #fff;
    }
    .icons i{
      color: #fff;
      font-size: 30px;
      padding-left: 27px;
      padding-top: 5px;
      transition: 0.3s ease;
    }
    .icons i:hover{
      color: #ff7200;
    }

    }


   @media all and (max-width: 667px) {
    .container {
      display: grid;
      grid-template-columns: repeat(auto, 1fr, auto);
      grid-gap: 15px;
    }

    .content{
      width: 910px;
      height: auto;
      margin: auto;
      color: #fff;
      position: relative;
    }

    .form{
      width: 500px;
      height: 650px;
      background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
      position: absolute;
      top: 800px;
      left: 300px;
      transform: translate(0%,-5%);
      border-radius: 10px;
      padding: 25px;
    }

    .form h2{
      width: 220px;
      font-family: sans-serif;
      text-align: center;
      color: #ff7200;
      font-size: 22px;
      background-color: #fff;
      border-radius: 10px;
      margin: 2px;
      padding: 8px;
    }

    .form input{
      width: 240px;
      height: 35px;
      background: transparent;
      border-bottom: 1px solid #ff7200;
      border-top: none;
      border-right: none;
      border-left: none;
      color: #fff;
      font-size: 15px;
      letter-spacing: 1px;
      margin-top: 30px;
      font-family: sans-serif;
    }

    .form input:focus{
      outline: none;
    }

    ::placeholder{
      color: #fff;
      font-family: Arial;
    }

    .btnn{
      width: 240px;
      height: 40px;
      background: #ff7200;
      border: none;
      margin-top: 30px;
      font-size: 18px;
      border-radius: 10px;
      cursor: pointer;
      color: #fff;
      transition: 0.4s ease;
    }
    .btnn:hover{
      background: #fff;
      color: #ff7200;
    }
    .btnn a{
      text-decoration: none;
      color: #000;
      font-weight: bold;
    }
    .form .link{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      padding-top: 20px;
      text-align: center;
    }
    .form .link a{
      text-decoration: none;
      color: #ff7200;
    }
    .liw{
      padding-top: 15px;
      padding-bottom: 10px;
      text-align: center;
    }
    .icons a{
      text-decoration: none;
      color: #fff;
    }
    .icons i{
      color: #fff;
      font-size: 30px;
      padding-left: 70px;
      padding-top: 5px;
      transition: 0.3s ease;
    }
    .icons i:hover{
      color: #ff7200;
    }
   }

   @media all and (max-width: 844px) {
    .container {
      display: grid;
      grid-template-columns: repeat(1fr, auto);
      grid-gap: 15px;
    }

    .content{
      width: 920px;
      height: auto;
      margin: auto;
      color: #fff;
      position: relative;
    }

    .form{
      width: 300px;
      height: 450px;
      background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
      position: absolute;
      top: 1000px;
      left: 330px;
      transform: translate(0%,-5%);
      border-radius: 10px;
      padding: 25px;
    }

    .form h2{
      width: 220px;
      font-family: sans-serif;
      text-align: center;
      color: #ff7200;
      font-size: 22px;
      background-color: #fff;
      border-radius: 10px;
      margin: 2px;
      padding: 8px;
    }

    .form input{
      width: 240px;
      height: 35px;
      background: transparent;
      border-bottom: 1px solid #ff7200;
      border-top: none;
      border-right: none;
      border-left: none;
      color: #fff;
      font-size: 15px;
      letter-spacing: 1px;
      margin-top: 30px;
      font-family: sans-serif;
    }

    .form input:focus{
      outline: none;
    }

    ::placeholder{
      color: #fff;
      font-family: Arial;
    }

    .btnn{
      width: 240px;
      height: 40px;
      background: #ff7200;
      border: none;
      margin-top: 30px;
      font-size: 18px;
      border-radius: 10px;
      cursor: pointer;
      color: #fff;
      transition: 0.4s ease;
    }
    .btnn:hover{
      background: #fff;
      color: #ff7200;
    }
    .btnn a{
      text-decoration: none;
      color: #000;
      font-weight: bold;
    }
    .form .link{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 17px;
      padding-top: 20px;
      text-align: center;
    }
    .form .link a{
      text-decoration: none;
      color: #ff7200;
    }
    .liw{
      padding-top: 15px;
      padding-bottom: 10px;
      text-align: center;
    }
    .icons a{
      text-decoration: none;
      color: #fff;
    }
    .icons i{
      color: #fff;
      font-size: 30px;
      padding-left: 27px;
      padding-top: 5px;
      transition: 0.3s ease;
    }
    .icons i:hover{
      color: #ff7200;
    }

    }
 }

 .error-message {
  color: red;
  margin-top: 1em;
  text-align: center;
}


