<body>
  <div class="photos-container">
    <div *ngIf="visibleProjets.length === 0">
      <p>Aucun projet n'est visible pour le moment.</p>
   </div>

   <div class="container">
    <div *ngFor="let projet of visibleProjets" class="photo-card">
    <mat-card class="mat-elevation-z4" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ projet!.titre }}</mat-card-title>
      </mat-card-header>
      <img class="card-img-top" [src]=" projet.imageUrl ? projet.imageUrl : 'https://via.placeholder.com/200'">
       <mat-card-content>
        <div>{{ projet.description }}</div>
      </mat-card-content>

      <mat-card-actions>
        <mat-card-content>
        <div class="auto">
          <a [routerLink]="['/details', projet.id]" class="btn btn-primary mb-auto"
          >Détails</a>
          <br>
          </div>
          <div class="auto">
          <p class="mt-3 justify-auto"> <i class="bi bi-star"></i>
            {{ projet.likes }} / 5</p>
            <p><small>Créé le : {{ projet.createdAt }}</small></p>
          </div>
        </mat-card-content>
        </mat-card-actions>
      </mat-card>
   </div>
  </div>
  </div>
  </body>

