<div class="container">
  <br />
  <button class="btn btn-primary" routerLink="/dashboard">Add projet</button>
  <div class="row">
    <div
      *ngFor="let data of projetData | async"
      class="col-lg-3 col-md-6 col-sm-12"
    >
      <br /><br />
      <div class="card" *ngIf="data?.id" (click)="navigateToDetails(data.id!)">
        <img
          class="card-img-top"
          [src]="
            data.imageUrl ? data.imageUrl : 'https://via.placeholder.com/200'
          "
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ data.titre }}</h5>
          <p
            class="card-text"
            style="
              max-width: 400px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            "
          >
            {{ data.description }}
          </p>
          <a [routerLink]="['/details', data.id]" class="btn btn-primary"
            >Détails</a
          >
          <br />
          <br />
          <div class="card-footer">
            <p class="m-auto">Préférence du projet</p>
            <button
              class="btn btn-danger position-absolute end-0"
              (click)="onLike(data)"
            >
              Like <i class="bi bi-hand-thumbs-up-fill"></i>
              {{ data.likes }}
            </button>
            <div style="margin-top: 25px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 100px"></div>
