<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Gallery Projet</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mynavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a type="button" class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a type="button" class="nav-link" routerLink="/gallery-projet">Gallery</a>
        </li>
      </ul>
        <button *ngIf="!isLoggedIn" class="btn btn-primary" type="button" routerLink="/login">connexion</button>
        <button *ngIf="isLoggedIn" class="btn btn-primary" type="button" (click)="logout()">Déconnexion</button>
    </div>
  </div>
</nav>
